<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	
			<!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Adora.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"-->
	<connectionStrings>
	
		<add name="DoAnCN_Net.DAL.Properties.Settings.AdoraConnectionString3"
			 connectionString="Data Source= (LocalDB)\\MSSQLLocalDB;Initial Catalog=Adora;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>