<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCN_Net.DAL.Properties.Settings.AdoraConnectionString3"
            connectionString="connecstring 3&#xA;Data Source=DESKTOP-IGQEI1S\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Adora.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>